body {
    background-color: #ffffcc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding: 0px;
}
h1 {
    background-color: #ccaa66;
    background-position: center;
    font-size: 2rem;
    text-align: center;
    margin-left: auto;
    margin-right: AUTO;
    width: 60%;
}
div{
    background-position: center;
    font-size: 1rem;
    text-align: left;
    margin-left: auto;
    margin-right: AUTO;
    width: 60%;
}
nav {
    background-color: #ccaa66;
    background-position: center;
    font-size: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: AUTO;
    width: 60%;
}
dt {
    font-weight: bold;
}
